.title-slide {
  background-image: url("title_bg.jpg");
  background-size: cover;
}


/* logo title slide */
.plogo {
  height: 40px;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}

.gdbar img {
  width: 200px !important;
  height: 51px !important;
  margin: 8px 8px;
}

.gdbar {
  width: 330px !important;
  height: 67px !important;
}

/* footer logo */
slides > slide:not(.nobackground):before {
  width: 0;
  height: 0;
  background-size: 0 0;
}

/* footer link to slides */
.myfooter {
  height: 0;
  position: absolute;
  bottom: 5%;
  width: 85%;
  text-align: center;
  font-size: 0.7em;
}

a:link {
    color: grey;
    border-bottom: 1px solid grey;
}

a:visited {
    color: grey;
    border-bottom: 1px solid grey;
}

a:hover {
    color: grey;
    border-bottom: 1px solid grey;
}

a:active {
    color: grey;
    border-bottom: 1px solid grey;
}


/* references on slides */
.mysource {
  float: right;
  opacity: .6;
  font-size: .7em;
}

/*
.fullscreen {
  background-image: url("modelle_tab.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; 
}
*/


/* divs for slide design */
.container {
    justify-content: center;
    display: flex;
}

.box30 {
    margin: 20px;
    width: 30%;
    text-align: center;
}

.box60 {
    margin: 20px;
    width: 60%;
    text-align: center;
}

.box45l {
  width: 45%;
  margin-right: 20px;
}

.box45r {
  width: 45%;
  margin-left: 53%;
}

.box45r1 {
  position: absolute;
  left: 50%;
  top:0;
  width: 50%;
  height: 100%;
  background-image: url("light.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity:.5;
}

.box45r2 {
  position: absolute;
  left: 43%;
  top:25%;
  width: 56%;
  height: 80%;
  background-image: url("silberz.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

.box45r3 {
  position: absolute;
  left: 50%;
  top:3%;
  width: 50%;
  height: 97%;
  background-image: url("cb.svg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  opacity:.5;
}

.box45r4 {
  position: absolute;
  left: 50%;
  top:0;
  width: 50%;
  height: 100%;
  background-color: #a51e37;
  z-index: -1;
  opacity:.5;
  text-align: center;
  font-weight: 900;
  color: white;
}

.box45r5 {
  position: absolute;
  left: 50%;
  top:0;
  width: 50%;
  height: 100%;
  background-color: #b4a069;
  z-index: -1;
  opacity:.5;
  text-align: center;
  font-weight: 900;
  color: white;
}

.box45r6 {
  position: absolute;
  left: 0;
  top:0;
  width: 35%;
  height: 100%;
  background-color: #0069AA;
  z-index: -1;
  opacity:.5;
  text-align: center;
  font-weight: 900;
  color: white;
}

.box45l1 {
  position: absolute;
  left: 0;
  top:0;
  width: 50%;
  height: 100%;
  background-image: url("six.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity:.5;
  z-index: -1;
}

.box100cb {
  width: 100%;
  height:70vh;
  border: solid red 1px;
  background-image: url("cb.svg");
  background-size: contain;
  background-repeat: no-repeat;
}



/*
slides > slide.backdrop {
  background: white;
}
*/